---
//team.astro
import Card from "../components/Card.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Accordion from "../components/Accordion.astro";
import AccordionItem from "../components/AccordionItem.astro";

//Import images team members
import Miguel from "../assets/team/MSchloss_with_JStiglitz.png";
import Silvia from "../assets/team/Silvia_Schloss.png";
import Jessie from "../assets/team/Jessie_Schloss.png";
import { Image } from "astro:assets";
import TheContent from "../components/TheContent.astro";
import SimpleItem from "../components/SimpleItem.astro";
---

<BaseLayout title="Team" description="Our team">
	<TheContent>
		<Card
			title="Our Team"
			description="Surinvest is led by a multi-disciplinary team, with broad-gauged development experience. It is supported by specialized firms that provide investment banking, engineering, design, and associated expertise for tailor-made strategic and investment decision."
			subtitle="Advisors with Deep Experience & Broad Diversity Backgrounds"
			showSubtitle={true}>
			<Accordion>
				<AccordionItem title="Miguel Schloss, President & CEO">
					<SimpleItem>
						<header>
							<Image
								src={Miguel}
								alt="Miguel Schloos"
								class="left-img"
								width="270"
							/>
							<p>
								<strong>M. Schloss</strong>
								<br />President, Surinvest Ltda
								<br />Member of Bretton Woods (World Bank - IMF) Committee
							</p>
							<p><em>Trustee of Global Legal International Network (GLIN Foundation)</em></p>
						</header>

						<section>
							<p>
								Former Director of Corporate and Budget Planning of World Bank; Executive Director of Transparency International in its formative years; Technical Advisory Board Member of Dalberg Global Development Advisors; Managing Partner DAMConsult; Steering Committee Member of Caspian Hydrocarbons Revenues Initiative.
							</p>

						</section>
					</SimpleItem>
				</AccordionItem>

				<AccordionItem title="Silvia Lay, Vice-President">
					<article>
						<header>
							<Image
								src={Silvia}
								alt="Silvia Schloss"
								class="left-img"
								width="270"
							/>
						</header>
						<section>
							<p>
								Silvia Schloss, has had a long career in social development
								programs.
							</p>
							<p>
								A Certified Registered Nurse (University of Chile) by training,
								has been involved in execution of Public Health programs in
								Santiago, Valparaiso, and Iquique (Chile) as well as in the
								Columbia Hospital for Women (Washington DC).
							</p>
							<p>
								She was an Assistant to the Executive Director in Transparency
								International (Berlin, Germany) during its formative years, and
								is currently in charge of tracking and following up the
								investment portfolio of Surinvest Ltda. as well as the planning
								and budgeting of the company’s activities.
							</p>
						</section>
					</article>
				</AccordionItem>
				<AccordionItem title="Jessie Schloss, Marketing/Art Director">
					<article>
						<header>
							<Image
								src={Jessie}
								alt="Jessie Schloss"
								class="left-img"
								width="270"
							/>
						</header>
						<section>
							<p>
								Jessie Schloss received her BFA and MBA from Suffolk University
								and has had 13+ years of progressive experience across a broad
								range of functions and diverse industries, including 8+ years in
								the Berlin start-up scene.
							</p>
							<p>
								She has had experience in designing marketing campaigns for
								international startup companies, as well as optimizing
								operational efficiency for startups and small businesses.
							</p>
							<p>
								She has worked in an adminstrative level for Suffolk
								University's Facilities Planning and Management department as
								the Assistant Director for Administration, and has managed
								technical project developments in the media and artificial
								intelligence sector in Germany as a Coordinator of Special
								Projects.
							</p>
						</section>
					</article>
				</AccordionItem>
			</Accordion>
		</Card>
	</TheContent>
</BaseLayout>

<style lang="scss">
	article {
		display: flex;
		gap: 2rem;
		flex-flow: column;

		p {
			margin-bottom: 1rem;
		}
	}
	.left-img {
		float: left;
		margin-right: 1rem;
		margin-bottom: 1rem;
		border-radius: 13px;
		display: block;

		@media (max-width: 768px) {
			float: none;
			align-self: center;
		}
	}
	section p {
		margin-bottom: 12px;
	}
</style>
